<p>movie-list works!</p>


  @for (movie of movies; track movie){
    <div class="uk-card, uk-card-secondary, uk-card-hover, uk-card-body, eni-movie-card"
         [ngStyle]="{ 'background-image': 'url(' + movie.cover + ')' }">
      <ul>
    <li>{{movie.title}}</li>
    <li>{{movie.year}}</li>
    <li>{{movie.author}}</li>
    <li>{{movie.duration}}mn</li>
    <li>{{movie.genre}}</li>
    <li>{{movie.synopsis}}</li>
      </ul>
      <span
        class="star-rating"
        [style.--rating]="movie.rating"
        [attr.aria-label]="'Rating: ' + movie.rating + ' out of 5'"
      ></span>
    </div>
  }

